header {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color:rgb(255,255,255);
    align-items: center;
    margin: 0;
    padding :2px;
    border-bottom: 7px solid rgb(211, 211, 211);
    
}

.header--logo >img{
    margin-left: 75px;
    height: 75px;
    width: 75 px;
}

.header--college-name {
    display: flex;
    flex-direction: column;
    padding-left: 15px;
    width : 30%;
}

.PSG-name {
    margin:0;
}

.PSG-Faculty {
    margin:0;
} 

.header--profile{
    margin-left: auto;
    margin-right: 5vh;
}

.header--profile >img {
    height: 50px;
    width:50px;
    border-radius: 50%;
}